In [99]:
import pandas as pd
import numpy as np

pd.__version__

'2.3.2'

In [100]:
df = pd.read_csv("car_fuel_efficiency.csv")

df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [101]:
df.shape

# df.describe

(9704, 11)

In [108]:
# print(df.columns)

print(df[['fuel_type']].nunique())
df[['fuel_type']].drop_duplicates()

fuel_type    2
dtype: int64

  fuel_type
0  Gasoline
3    Diesel

In [103]:
for col in df.columns:
    # print(df.shape[0])
    num_vals = df[[col]].count().values[0]
    if (num_vals != df.shape[0]):
        print (col, num_vals)

df.isna().any()

num_cylinders 9222
horsepower 8996
acceleration 8774
num_doors 9202

engine_displacement    False
num_cylinders           True
horsepower              True
vehicle_weight         False
acceleration            True
model_year             False
origin                 False
fuel_type              False
drivetrain             False
num_doors               True
fuel_efficiency_mpg    False
dtype: bool

In [104]:
df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()

23.759122836520497

In [105]:
m1 = df['horsepower'].median()
mf = df['horsepower'].value_counts().index[0]
print(m1)
print(mf)

df2 = df.copy()
df2['horsepower'] = df2['horsepower'].fillna(mf)
m2 = df2['horsepower'].median()
print(m2)
print("Yes, it increased" if m2 > m1 else ("Yes, it decreased" if m2 < m1 else "No"))

149.0
152.0
152.0
Yes, it increased

In [106]:
print(df.columns.tolist())

X = df[df['origin'] == 'Asia'][['vehicle_weight', 'model_year']].head(7).values

print(X)

XTX = X.T.dot(X)

print(XTX.shape)
print(np.linalg.matrix_rank(XTX))
print(XTX)

XTXi = np.linalg.inv(XTX)

print (XTXi.dot(XTX))

y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

w = XTXi.dot(X.T).dot(y)

print(w.sum())

['engine_displacement', 'num_cylinders', 'horsepower', 'vehicle_weight', 'acceleration', 'model_year', 'origin', 'fuel_type', 'drivetrain', 'num_doors', 'fuel_efficiency_mpg']
[[2714.21930965 2016.        ]
 [2783.86897424 2010.        ]
 [3582.68736772 2007.        ]
 [2231.8081416  2011.        ]
 [2659.43145076 2016.        ]
 [2844.22753389 2014.        ]
 [3761.99403819 2019.        ]]
(2, 2)
2
[[62248334.33150762 41431216.5073268 ]
 [41431216.5073268  28373339.        ]]
[[1. 0.]
 [0. 1.]]
0.5187709081074007